* {
  margin: 0;
  padding: 0; }

body {
  background-color: #27282f;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; }

.main-container {
  width: 100%; }

a {
  text-decoration: none;
  color: white; }

button {
  cursor: pointer; }

img {
  width: 100%;
  height: auto; }

.color-blue {
  color: #3caeef; }

.f-14 {
  font-size: 14px; }

.f-12 {
  font-size: 12px; }

.relative {
  position: relative; }

.cta {
  border: none;
  color: white;
  padding: 0.75rem 2.5rem;
  border-radius: 39px;
  font-family: "Mulish", sans-serif;
  cursor: pointer; }
  .cta.blue {
    background-color: #3caeef; }
    .cta.blue:hover {
      background-color: #0076b9; }
  .cta.transparent {
    background-color: transparent; }
  .cta.dark {
    background-color: #31333b; }

.backgound-set {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.fixed {
  overflow: hidden; }

.flex {
  display: flex; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.flex-col {
  flex-flow: column; }

.align-center {
  align-items: center; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.pointer {
  cursor: pointer; }

.brd-gray {
  border: 1px solid #c7c7c794;
  border-radius: 16px; }

input:focus,
input {
  outline-width: 0;
  color: white; }

button {
  background-color: transparent;
  border: none; }

ul.list-none,
ol.list-none {
  list-style: none; }

ul.list-dot,
ol.list-dot {
  list-style: disc; }
  ul.list-dot li,
  ol.list-dot li {
    margin-left: 1rem; }

ul.list-num,
ol.list-num {
  list-style: decimal; }
  ul.list-num li,
  ol.list-num li {
    margin-left: 1rem; }
    ul.list-num li::marker,
    ol.list-num li::marker {
      color: #3caeef; }
    ul.list-num li p,
    ol.list-num li p {
      color: #d9d9d9; }

ul.list-dashed,
ol.list-dashed {
  list-style-type: none; }
  ul.list-dashed li,
  ol.list-dashed li {
    margin-left: 1rem; }
    ul.list-dashed li.mr,
    ol.list-dashed li.mr {
      margin-left: 2rem; }
  ul.list-dashed > li,
  ol.list-dashed > li {
    text-indent: -5px; }
  ul.list-dashed > li:before,
  ol.list-dashed > li:before {
    content: "-";
    text-indent: -5px; }

.search {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 0.5rem 1rem;
  min-width: 250px; }
  .search input {
    background-color: transparent;
    border: none;
    color: white; }
    .search input::-webkit-input-placeholder {
      color: white;
      opacity: 0.8; }
  .search.footer {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 20px;
    width: 40%;
    width: auto;
    margin-bottom: 2.3rem; }
  .search.mobile {
    margin: 1rem 0 3rem 0; }

hr {
  opacity: 0.4;
  margin-top: 3.5rem;
  width: 95%; }
  hr.hr-menu {
    margin-top: 0; }

menu,
section {
  padding: 4rem 3.5rem 0 3.5rem;
  width: 1422px; }
  @media screen and (max-width: 1422px) {
    menu,
    section {
      width: 88%; } }

menu {
  padding: 1.2rem 3.5rem; }
  menu nav ul li {
    margin-right: 1.5rem; }
    menu nav ul li .hoverli1,
    menu nav ul li .hoverli {
      position: relative; }
      menu nav ul li .hoverli1 .file_menu,
      menu nav ul li .hoverli1 .file_menu1,
      menu nav ul li .hoverli .file_menu,
      menu nav ul li .hoverli .file_menu1 {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 3;
        background-color: #31333b;
        margin-top: 0.5rem; }
        menu nav ul li .hoverli1 .file_menu li,
        menu nav ul li .hoverli1 .file_menu1 li,
        menu nav ul li .hoverli .file_menu li,
        menu nav ul li .hoverli .file_menu1 li {
          position: relative; }
          menu nav ul li .hoverli1 .file_menu li a,
          menu nav ul li .hoverli1 .file_menu1 li a,
          menu nav ul li .hoverli .file_menu li a,
          menu nav ul li .hoverli .file_menu1 li a {
            text-decoration: none;
            padding: 10px;
            display: block; }
    menu nav ul li svg {
      margin-left: 0.5rem; }
  menu .language a,
  menu .language span {
    opacity: 0.2; }
    menu .language a.active,
    menu .language span.active {
      opacity: 1;
      font-weight: bold; }
  menu .menu-contact a {
    margin-right: 2.3rem; }
    menu .menu-contact a.phone {
      color: #71c3f2; }
  menu #burger {
    display: none; }

#preview {
  position: relative;
  background-image: url("/img/preview-background.jpg"); }
  #preview section {
    background-image: url("/img/preview-background-img.png"); }
  #preview .preview-content {
    width: 50%;
    padding-bottom: 4rem; }
    #preview .preview-content h1 {
      font-size: 48px;
      margin: 0.75rem 0; }
      #preview .preview-content h1 span {
        color: #3caeef;
        font-size: 48px; }
    #preview .preview-content .video {
      width: 320px;
      height: 200px;
      background-image: url("/img/video.png");
      align-items: end;
      margin: 2.8rem 0; }
      #preview .preview-content .video .play {
        height: 60px;
        width: 60px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        backdrop-filter: blur(10px);
        margin-left: 40%; }
      #preview .preview-content .video p {
        padding: 1rem; }
    #preview .preview-content .buttonset a {
      border-radius: 10px;
      color: white;
      font-size: 16px;
      padding: 0.75rem 2.5rem;
      cursor: pointer; }
      #preview .preview-content .buttonset a:last-of-type {
        border: 1px solid white;
        margin-left: 0.5rem; }

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5rem; }
  .title img {
    width: 61px; }
  .title h2 {
    font-size: 32px;
    text-transform: uppercase;
    width: 90%;
    font-weight: 400; }
    .title h2 strong {
      color: #3caeef; }

section#whatIs .content ul li:last-of-type {
  margin-bottom: 0; }

section#norm li span {
  color: #3caeef; }

section p.b-text {
  font-size: 18px;
  margin-top: 2.5rem; }

section .section-content {
  display: flex;
  align-items: center; }
  section .section-content .content-image {
    width: 100%;
    position: relative; }
    section .section-content .content-image::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center center; }
    section .section-content .content-image.whatIs::before {
      background-image: url("/img//info/whatis-image.png"); }
    section .section-content .content-image.patients::before {
      background-image: url("/img//info/patients-image.png"); }
    section .section-content .content-image.patients .buttonset button.cta {
      width: 50%; }
    section .section-content .content-image.norm {
      margin-bottom: 5rem; }
      section .section-content .content-image.norm::before {
        background-image: url("/img/info/norm-image.png");
        background-position: top 20% center; }
      section .section-content .content-image.norm img:last-of-type {
        position: absolute;
        padding-bottom: 0;
        bottom: -15%;
        left: -2px;
        width: 101%;
        height: auto;
        border-radius: 15px;
        border: 2px solid #909194; }
    section .section-content .content-image img {
      border-radius: 12px;
      height: 100%; }
    section .section-content .content-image .buttonset {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      justify-content: space-between; }
      section .section-content .content-image .buttonset button.cta {
        border: 1px solid #909194;
        background: #31333b;
        font-size: 16px;
        width: 40%;
        font-weight: 500;
        padding: 0.75rem;
        border-radius: 16px;
        margin-bottom: 1.5rem; }
        section .section-content .content-image .buttonset button.cta:first-of-type {
          margin-left: 1.5rem; }
        section .section-content .content-image .buttonset button.cta:last-of-type {
          margin-right: 1.5rem; }
  section .section-content .content {
    flex-basis: 145%;
    margin-left: 4.5rem; }
    section .section-content .content ul li {
      color: #d9d9d9;
      margin-bottom: 1rem;
      font-size: 14px; }
    section .section-content .content h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 1.8rem; }

#info a {
  padding: 0.5rem 1.5rem;
  border-radius: 16px;
  background: linear-gradient(270deg, rgba(134, 139, 161, 0) 0%, rgba(85, 88, 102, 0.3) 19%, #31333b 100%);
  margin-bottom: 0.5rem; }
  #info a svg {
    fill: #83cbf6; }
  #info a:hover {
    background: #31333b; }
    #info a:hover svg {
      fill: #0076b9; }

#results {
  margin-top: 6%;
  background-image: url("/img/sections/results-bg.png"); }
  #results section {
    padding-top: 0; }
    #results section h2 {
      width: 50%;
      font-weight: lighter;
      margin-right: 2rem;
      font-size: 29px; }
    #results section .image-scroll {
      height: 430px;
      overflow-y: scroll; }
      #results section .image-scroll::-webkit-scrollbar {
        display: none; }
      #results section .image-scroll button {
        background: transparent;
        margin-bottom: 5rem; }
        #results section .image-scroll button:last-of-type {
          margin: 0; }
        #results section .image-scroll button img {
          border-radius: 16px; }
    #results section .scroll-icon {
      margin-left: 3rem; }
    #results section .container {
      width: 100%;
      display: none;
      padding-bottom: 5rem; }
      #results section .container .carousel ol.slides li img {
        width: 360px;
        border-radius: 16px;
        margin-left: 5%; }
      #results section .container .carousel ol.slides li:last-of-type {
        margin-top: 3rem; }
      #results section .container .carousel .arrow {
        position: absolute;
        display: block;
        bottom: -3.5rem;
        right: 40%;
        cursor: pointer;
        z-index: 2;
        background: transparent;
        border: none; }
        #results section .container .carousel .arrow.next, #results section .container .carousel .arrow.previous {
          height: 39px;
          width: 39px; }
        #results section .container .carousel .arrow.next {
          background-image: url("/img/next.svg"); }
        #results section .container .carousel .arrow.previous {
          margin-right: 5rem;
          background-image: url("/img/prev.svg"); }

#types .container {
  margin: 0 auto;
  width: 100%; }
  #types .container .carousel {
    width: 100%; }
    #types .container .carousel .arrow {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 2;
      background: transparent;
      border: none; }
      #types .container .carousel .arrow.next, #types .container .carousel .arrow.previous {
        height: 39px;
        width: 39px; }
      #types .container .carousel .arrow.next {
        background-image: url("/img/next.svg"); }
        #types .container .carousel .arrow.next.disabled {
          background-image: url("/img/next-dis.svg");
          cursor: default; }
      #types .container .carousel .arrow.previous {
        right: 9rem;
        background-image: url("/img/prev.svg"); }
        #types .container .carousel .arrow.previous.disabled {
          background-image: url("/img/prev-dis.svg");
          cursor: default; }
    #types .container .carousel ol.indicators {
      list-style: none;
      position: absolute;
      top: 0.5rem;
      right: 4.5rem;
      display: flex;
      cursor: pointer; }
      #types .container .carousel ol.indicators li {
        margin-left: 1.5rem; }
        #types .container .carousel ol.indicators li.active {
          color: #578fb3; }

#types #tabs1,
#types #tabs {
  position: relative;
  width: 100%; }
  #types #tabs1 .tab-content,
  #types #tabs .tab-content {
    margin-top: 7.8rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
    #types #tabs1 .tab-content .content-block,
    #types #tabs .tab-content .content-block {
      width: 55%;
      padding-right: 5rem; }
    #types #tabs1 .tab-content p.content-block,
    #types #tabs .tab-content p.content-block {
      margin-top: 1.7rem;
      font-size: 14px; }
    #types #tabs1 .tab-content ul li,
    #types #tabs .tab-content ul li {
      font-size: 14px;
      color: #d9d9d9; }
    #types #tabs1 .tab-content h4,
    #types #tabs .tab-content h4 {
      text-align: start;
      margin-bottom: 1rem; }
      #types #tabs1 .tab-content h4.mt,
      #types #tabs .tab-content h4.mt {
        margin-top: 3.75rem; }
  #types #tabs1 img:not(.mobile),
  #types #tabs img:not(.mobile) {
    z-index: 1;
    max-width: 1300px; }
  #types #tabs1 img.mobile,
  #types #tabs img.mobile {
    display: none; }
  #types #tabs1 ul.tabs-btns li,
  #types #tabs ul.tabs-btns li {
    border-radius: 16px;
    padding: 0.75rem 4rem;
    font-size: 14px;
    margin: 0 0.5rem;
    background-color: #31333b;
    position: relative;
    z-index: 2;
    width: 100px; }
    #types #tabs1 ul.tabs-btns li.ui-tabs-active,
    #types #tabs ul.tabs-btns li.ui-tabs-active {
      background-color: #3caeef; }
    #types #tabs1 ul.tabs-btns li:last-of-type,
    #types #tabs ul.tabs-btns li:last-of-type {
      margin-right: 0; }
  #types #tabs1 table,
  #types #tabs table {
    border-collapse: collapse; }
    #types #tabs1 table tr td,
    #types #tabs1 table tr th,
    #types #tabs table tr td,
    #types #tabs table tr th {
      border-bottom: 1px solid white;
      padding: 0.75rem 0; }
    #types #tabs1 table tr:last-of-type td,
    #types #tabs1 table tr:last-of-type th,
    #types #tabs table tr:last-of-type td,
    #types #tabs table tr:last-of-type th {
      border-bottom: 0; }
    #types #tabs1 table tr th,
    #types #tabs table tr th {
      padding-left: 3.5rem; }

#types h4 {
  text-align: center;
  margin-bottom: 2.25rem;
  position: relative;
  z-index: 2; }
  #types h4 strong {
    color: #3caeef; }

#form {
  max-width: 715px; }
  #form h2 {
    text-align: center;
    width: 100%; }

#contact .contact-info-container {
  flex-wrap: wrap;
  width: 50%; }
  #contact .contact-info-container .contact-info {
    width: 49%; }
    #contact .contact-info-container .contact-info .socials-footer img {
      width: 34px;
      margin-right: 0.25rem; }
    #contact .contact-info-container .contact-info div {
      min-height: 100%; }
    #contact .contact-info-container .contact-info button {
      padding: 0.75rem 2.5rem;
      border: 2px solid #3caeef;
      font-size: 16px;
      border-radius: 10px;
      margin-top: 8rem; }

#contact h1 {
  font-size: 46px;
  width: 25%;
  font-family: "Mulish", sans-serif; }

#contact span {
  font-size: 16px; }

#contact p {
  font-size: 16px;
  margin-bottom: 0.75rem;
  color: rgba(255, 255, 255, 0.6); }

#menu-footer menu {
  align-items: start;
  width: 50%;
  padding: 0; }
  #menu-footer menu ul {
    width: 50%;
    list-style: none; }
    #menu-footer menu ul li {
      margin-bottom: 1rem; }

#footer {
  padding-top: 1.5rem;
  padding-bottom: 4.74rem;
  flex-flow: row-reverse; }
  #footer span {
    opacity: 0.4;
    width: 25%; }
  #footer .docs {
    width: 50%; }
    #footer .docs p {
      opacity: 0.6;
      margin-right: 1rem; }
      #footer .docs p:last-of-type {
        margin-right: 0; }

#mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  margin-top: 5.5rem;
  background: #32333a;
  display: none; }
  #mobileMenu ul {
    margin-right: 10rem; }
    #mobileMenu ul li {
      margin-bottom: 1rem; }
  #mobileMenu .menu-contact {
    margin-top: 5rem; }
  #mobileMenu.open-menu {
    display: block; }

#modal {
  background: #27282f;
  max-width: 635px;
  max-height: 675px;
  padding: 3.5rem; }
  #modal h2 {
    margin-bottom: 2.5rem;
    width: 94%;
    font-size: 22px;
    font-weight: 400; }
  #modal a {
    text-decoration: underline;
    color: #3caeef; }
  #modal .close-modal {
    display: none; }
  #modal .modal-close {
    position: absolute;
    top: 2.75rem;
    right: 2rem; }

form {
  flex-flow: column;
  width: 50%; }
  form input {
    background-color: #32333a;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 5px; }
    form input::-webkit-input-placeholder {
      color: white;
      opacity: 0.8; }
  form input[type="checkbox"]:not(:checked) {
    position: relative; }
    form input[type="checkbox"]:not(:checked)::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 21px;
      height: 21px;
      content: "";
      background: #e0e7ec;
      border-radius: 4px; }
  form input[type="checkbox"]:checked {
    position: relative; }
    form input[type="checkbox"]:checked::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 21px;
      height: 21px;
      content: "";
      background: #e0e7ec;
      border-radius: 4px; }
    form input[type="checkbox"]:checked::after {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 15px;
      height: 15px;
      content: "";
      background: #3caeef;
      border-radius: 4px; }
  form .eula {
    margin-top: 2.5rem;
    display: flex;
    align-items: center; }
    form .eula label {
      font-size: 12px;
      margin-left: 1rem; }
  form p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 0.75rem; }
  form .buttonset {
    justify-content: end; }
    form .buttonset button {
      border-radius: 10px;
      padding: 0.75rem 4rem;
      margin-top: 2rem; }
  form.form-modal {
    width: 100%; }

.ui-dialog-titlebar {
  display: flex;
  justify-content: space-between; }
  .ui-dialog-titlebar button.ui-button {
    color: white;
    cursor: pointer; }

#form .title,
#form form {
  width: 90%; }

#form form p {
  font-size: 10px; }

#form form .eula {
  margin-top: 2rem; }
  #form form .eula label {
    font-size: 10px; }

#form form .buttonset {
  justify-content: start; }
  #form form .buttonset button {
    width: 100%; }

#contact h1 {
  width: 100%; }

#contact p {
  margin-top: 2rem; }

#contact .contact-info-container {
  width: 100%; }
  #contact .contact-info-container .contact-info {
    flex-basis: 50%; }
    #contact .contact-info-container .contact-info div {
      min-height: auto; }
    #contact .contact-info-container .contact-info button {
      margin-top: 2rem;
      width: 100%; }

#mobileMenu .wrap,
#mobileMenu .menu-contact {
  flex-wrap: wrap; }

@media screen and (max-width: 1300px) {
  #tabs1 img:not(.mobile) {
    left: auto;
    right: 0; }
  section .section-content .content-image .buttonset button.cta {
    font-size: 12px; } }

@media screen and (max-width: 1200px) {
  menu.top-menu {
    display: none; }
  menu nav,
  menu .search:not(.mobile) {
    display: none; }
  menu #burger {
    display: block; }
  section .section-content .content-image {
    min-width: 400px; } }

@media screen and (max-width: 992px) {
  .title {
    margin-bottom: 2.125rem; }
    .title h2 {
      font-size: 22px; }
    .title img {
      display: none; }
  section .section-content {
    flex-flow: column;
    align-items: center; }
    section .section-content .content-image {
      margin-bottom: 1.375rem;
      width: 60%; }
      section .section-content .content-image .buttonset button.cta {
        font-size: 16px; }
    section .section-content .content {
      margin-left: 0; }
  section#whatIs .section-content .content p {
    margin-top: 2.5rem; }
  section#patients .section-content .content p {
    margin-top: 1rem; }
  #preview .preview-content {
    width: 100%;
    padding-bottom: 2.3rem; }
  #types .container {
    padding-bottom: 2.5rem; }
    #types .container .carousel {
      padding-bottom: 4rem; }
      #types .container .carousel .arrow {
        position: absolute;
        bottom: 0;
        right: 30%;
        top: auto; }
        #types .container .carousel .arrow.next {
          background-image: url("/img/next.svg"); }
          #types .container .carousel .arrow.next.disabled {
            background-image: url("/img/next-dis.svg");
            cursor: default; }
        #types .container .carousel .arrow.previous {
          right: 60%;
          background-image: url("/img/prev.svg"); }
          #types .container .carousel .arrow.previous.disabled {
            background-image: url("/img/prev-dis.svg");
            cursor: default; }
      #types .container .carousel ol.indicators {
        top: auto !important;
        bottom: 0.5rem;
        right: 45% !important; }
  #types #tabs1 .tab-content,
  #types #tabs .tab-content {
    flex-flow: column;
    position: relative;
    margin-top: 0; }
    #types #tabs1 .tab-content .content-block,
    #types #tabs .tab-content .content-block {
      width: 100%; }
    #types #tabs1 .tab-content p.content-block,
    #types #tabs .tab-content p.content-block {
      margin-top: 1.7rem; }
    #types #tabs1 .tab-content h4,
    #types #tabs .tab-content h4 {
      margin-bottom: 1rem;
      margin-top: 3.75rem; }
  #types #tabs1 ul.tabs-btns,
  #types #tabs ul.tabs-btns {
    flex-wrap: wrap;
    justify-content: start; }
    #types #tabs1 ul.tabs-btns li,
    #types #tabs ul.tabs-btns li {
      margin: 0.5rem; }
  #menu-footer {
    flex-flow: column-reverse; }
  #contact {
    flex-flow: column; }
  #footer {
    flex-flow: column-reverse; }
    #footer span {
      width: 100%; }
    #footer .docs {
      flex-flow: column;
      width: 100%; }
      #footer .docs p {
        margin-bottom: 0.5rem; }
        #footer .docs p:last-of-type {
          margin-bottom: 2rem; } }

@media screen and (max-width: 768px) {
  #preview .preview-content p {
    font-size: 14px; }
  #preview .preview-content h1 {
    font-size: 30px; }
    #preview .preview-content h1 span {
      font-size: 30px; }
  section {
    padding: 2.3rem 1rem 0 1rem; }
    section .section-content .content-image {
      min-width: auto;
      width: 100%; }
    section p.b-text {
      font-size: 16px; }
  #form .title,
  #form form {
    width: 100%; }
  #results section {
    flex-flow: column; }
    #results section h2 {
      width: 100%;
      margin-right: 0;
      text-align: center;
      margin: 2rem 0;
      font-size: 20px; }
    #results section .image-scroll,
    #results section .scroll-icon {
      display: none; }
    #results section .container {
      display: block;
      width: 100%; }
  #contact .contact-info-container .contact-info {
    flex-basis: 100%; }
  #menu-footer menu {
    flex-flow: column;
    font-weight: bold; }
  #modal {
    background: #27282f;
    max-width: 635px;
    max-height: 675px;
    padding: 1.75rem 0.8rem; }
    #modal h2 {
      margin-bottom: 2rem;
      width: 100%;
      font-weight: 450; }
    #modal .eula {
      margin-top: 2rem; }
      #modal .eula label {
        font-size: 10px; }
    #modal p {
      font-size: 10px;
      font-weight: 300;
      margin-top: 0.75rem; }
    #modal .buttonset button {
      width: 100%; }
    #modal .modal-close {
      display: none; } }

@media screen and (max-width: 574px) {
  #preview {
    background-image: url("/img/preview-background-mob.jpg"); }
    #preview section {
      background-image: url("/img/preview-background-img-mob.png"); }
    #preview .video {
      margin-top: 12rem; }
    #preview .buttonset {
      display: flex;
      flex-flow: column;
      max-width: 375px; }
      #preview .buttonset a {
        text-align: center;
        margin-left: 0 !important; }
        #preview .buttonset a:last-of-type {
          margin-left: 0;
          margin-top: 0.5rem; }
  section .section-content .content-image .buttonset button.cta {
    font-size: 12px; } }

@media screen and (max-width: 503px) {
  #types #tabs1 img,
  #types #tabs img {
    width: 100%;
    height: auto; }
    #types #tabs1 img:not(.mobile),
    #types #tabs img:not(.mobile) {
      display: none; }
    #types #tabs1 img.mobile,
    #types #tabs img.mobile {
      display: block !important; }
  #types #tabs1 ul.tabs-btns,
  #types #tabs ul.tabs-btns {
    justify-content: center !important; } }
